<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="shortcut icon" href="img/favicon.png" />

	<link rel="stylesheet" href="css/style.css">
    <title>Reshetnikova</title>

    <!-- Поддержка старых браузеров-->
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<header>
    <div class="container">
        <div class="navigation">
            
            <div class="logo">
                <a href=""><img src="img/logo.png" alt="Logo"></a>
            </div>
            <div class="phone">
                
                <div class="phone_number">
                    <span>
                    [ What'sApp, Viber, Telegram ]
                    </span>
                    <a href="tel:+7 (931) 281-22-78"><i class="icon icon-phone"></i>+7 (931) 281-22-78</a>
                </div>
                <div class="btn_call_me">
                   <a href="tel:tel:+7 (931) 281-22-78"> позвонить мне</a>
                </div>
            </div>
           
        </div>
         <div class="lang">
                <a href="#" class="active">RUS</a> / <a href="#">ENG</a>
            </div>
    </div>
    
</header>

