header {
	background: #f4f7fd;
	padding-top: 40px;
	box-sizing: border-box;

	.navigation {
		display: flex;

		.logo {
			width: 50%;
			display: flex;
			justify-content: flex-start;
			float: left;

		}

		.phone {
			align-self: center;
			width: 50%;
			display: flex;
			justify-content: flex-end;
			align-self: center;

			.phone_number {
				display: flex;
				align-self: center;
				position: relative;
				margin-right: 30px;

				a {
					font-family: Gotham Pro , $font-system;
					font-size: 23px;
					font-weight: bold;
					color: #000;
					text-decoration: none;
					display: flex;
					align-self: center;

					i {
						margin-right: 13px;
					}

					&:hover {
						color: #cacaca;
					}

				}

				span {
					position: absolute;
					top: -20px;
					right: 0;
					font-family: Gotham Pro , $font-system;
					font-weight: 300;
					font-size: 11px;
				}

			}

		}

		.btn_call_me {
			display: flex;
			justify-content: center;
			line-height: 40px;
			background-image:linear-gradient(90deg, rgb(89, 142, 255) 0%, rgb(155, 183, 251) 100%);
			box-shadow: 3px 5px 9px 0px #bababa73;
			height: 40px;
			border-radius:30px;
			a {
				color: #fff;
				display: flex;
				padding: 0px 50px;
				text-decoration: none;
				font-family: Gotham Pro , $font-system;
				font-weight: 500;
				font-size: 14px;
			}
		}

	}

	.lang {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		padding: 10px 0 ;
		font-family: Gotham Pro , $font-system;
		a{
			font-size: 16px;
			text-decoration: none;
			color: #000;
			text-transform: lowercase;
			font-weight: 300;
			&.active {
				font-weight: 900;
				color: #ae2928;
			}
		}
	}

}