.text_center {
	text-align: center;
}

#slider_top {
	background: url(../img/h_bg.jpg)no-repeat center center;
	height: 715px;
	padding-top: 140px;
}

.title_h {
	h1 {
		font-family: Gotham Pro, $font-system;
		font-size: 2.625em;
		font-weight: 900;
		color: #1856c5;
		text-transform: uppercase;

		span {
			font-family: Gotham Pro, $font-system;
			font-weight: 500;
			color: #fe1c1d;
			position: relative;

			&:before {
				content: ' ';
				position: absolute;
				bottom: -20px;
				width: 25%;
				border-bottom: 4px solid #1856c5;
			}

		}

	}

	p {
		font-family: Montserrat, $font-system;
		font-size: 22px;
		color: #5c5c5c;
		font-weight: 700;
		padding-top: 5px;
		margin: 0;
	}

}

.title_h2 {
	font-family: Montserrat, $font-system;
	font-size: 30px;
	font-weight: 900;
	line-height: 1.5;
	color: #000;
	margin: 40px 0 0 0;
}

.sub_title {
	font-family: Montserrat, $font-system;
	font-weight: 900;
	font-size: 30px;
	color: #1856c5;
	margin: 0 0 60px 0;
	position: relative;
}

.sub_title--line:before {
	content: ' ';
	position: absolute;
	bottom: -20px;
	width: 10%;
	left: 50%;
	border-bottom: 4px solid #fe1c1d;
	transform: translate(-50%, 0%);
}

.sub_title--line__blue:before {
	border-bottom-color: #1856c5;
}

.thinking {
	background: url(../img/sec_3_bg.png)no-repeat center center;
	background-size: cover;
	padding: 80px 0px 100px 0px;
	height: 815px;

	.think_list {
		ul {
			list-style: none;
			font-family: Montserrat, $font-system;
			font-weight: 400;
			font-size: 16px;
			color: #000;
			padding-left: 0;

			li {
				list-style: none;
				line-height: 3;
				position: relative;
				padding-left: 40px;

				&:before {
					content: '';
					width: 30px;
					height: 30px;
					position: absolute;
					background-image: url('../img/li_style_1.png');
					background-size: cover;
					background-position: center;
					left: 0;
					top: 8px;					/*transform: translateY(-50%);*/
				}

			}

		}

	}

	.note_think {
		list-style: none;
		font-family: Montserrat, $font-system;
		font-weight: 900;
		font-size: 18px;
		color: #000;
	}

}

.belive {
	.title_b p {
		font-family: Montserrat, $font-system;
		font-weight: 500;
		font-size: 18px;
		color: #000;
	}

	.b_list {
		border: 1px dashed  #1aaaec;
		padding: 40px 25px;
		line-height: 2;

		ul {
			list-style: none;
			padding: 0;

			li {
				font-family: Montserrat, $font-system;
				font-weight: 700;
				font-size: 18px;
				color: #000;
				text-transform: uppercase;
			}

		}

	}

	.b_note {
		color: #2f66ce;
		font-family: Montserrat, $font-system;
		font-weight: 700;
		font-size: 18px;
		text-transform: uppercase;
		margin: 40px 0;
	}

}

.about_me {
	background: url(../img/b_s_bg.png)no-repeat center center;
	background-size: cover;
	min-height: 730px;

	h4 {
		font-family: Montserrat, $font-system;
		font-weight: 700;
		font-size: 30px;
		text-transform: uppercase;
		position: relative;
	}

	.about_info {
		padding-left: 24%;
		margin-top: calc(730px / 2 / 2);
		min-height: calc(730px / 2);

		h4 {
			&:before {
				content: '...';
				position: absolute;
				bottom: -40px;
				letter-spacing: 5px;
				left: 0;
			}

		}

		p {
			padding-top: 30px;
			font-family: Montserrat, $font-system;
			font-weight: 400;
			font-size: 18px;
			line-height: 1.3;
		}

		span {
			font-weight: 700;
		}

	}

	.about_propouse {
		margin-top: calc(730px / 2 / 2);
		min-height: calc(730px / 2);

		ul {
			list-style: none;
			font-family: Montserrat, $font-system;
			font-weight: 700;
			font-size: 18px;
			color: #000;
			padding-left: 0;

			li {
				list-style: none;
				line-height: 3;
				position: relative;
				padding-left: 40px;

				&:before {
					content: '';
					width: 30px;
					height: 30px;
					position: absolute;
					background-image: url('../img/li_style_2.png');
					background-size: cover;
					background-position: center;
					left: 0;
					top: 12px;
				}

			}

		}

		h4 {
			padding-left: 40px;
		}

		p {
			padding-top: 30px;
			font-family: Montserrat, $font-system;
			font-weight: 400;
			font-size: 18px;
			line-height: 1.3;
		}

		span {
			font-weight: 700;
		}

	}

}

.steps {
	padding-bottom: 110px;

	h2 {
		font-family: Montserrat, $font-system;
		font-size: 31px;
		font-weight: 700;
		color: #000000;
		text-transform: uppercase;
		position: relative;

		&:before {
			content: ' ';
			position: absolute;
			bottom: -20px;
			width: 10%;
			left: 50%;
			border-bottom: 4px solid #fe6868;
			transform: translate(-50%, 0%);
		}

	}

	.step__item {
		padding: 15px 0px 35px 0;

		&:not(:last-child) {
			border-bottom: 2px  dashed  #c3c5c9;
		}

		h3 {
			font-family: Montserrat, $font-system;
			font-size: 22px;
			font-weight: 900;
			font-style: italic;
			color: #0055c9;
			display: flex;
			justify-content: space-between;
			position: relative;

			i {
				span {
					color: #ff1517;
				}

			}

			.circle_i_steps {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				border: 1px solid #cacaca;
				display: flex;
				justify-content: center;
				align-self: center;
				padding: 9px 0px;
			}

		}

	}

	p {
		font-family: Montserrat, $font-system;
		font-size: 18px;
		font-weight: 400;
		line-height: 2.2;
	}

}

.course {
	padding: 110px 0px;
	background: url(../img/curse_bg.png)no-repeat center center;

	h2 {
		font-family: Montserrat, $font-system;
		font-size: 31px;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
		position: relative;
		margin-bottom: 100px;

		&:before {
			content: ' ';
			position: absolute;
			bottom: -20px;
			width: 10%;
			left: 50%;
			border-bottom: 4px solid #fff;
			transform: translate(-50%, 0%);
		}

	}

	.course_content {
		position: relative;
		z-index: 9;
		background: #122d4f;
		padding: 20px 8px;
		border-radius: 15px;
		box-sizing: border-box;

		.course_info {
			position: absolute;
			bottom: 100px;
			z-index: 99;
			text-align: center;

			h4 {
				font-family: Gotham Pro, $font-system;
				font-size: 18px;
				font-weight: 700;
				color: #fff;
				text-transform: uppercase;
				padding: 0;
				margin: 0;
				position: relative;

				&:before {
					content: '...';
					position: absolute;
					bottom: -10px;
					letter-spacing: 5px;
					left: 50%;
					transform: translate(-50%, 0%);
				}

			}

			p {
				font-family: Gotham Pro, $font-system;
				font-weight: 400;
				font-size: 13px;
				color: #fff;
			}

		}

	}
.btn_curse {
    color: #fff;
    background: red;
    text-decoration: none;
    width: 100%;
    display: block;
    text-align: center;
    padding: 15px 0px;
    border-radius: 30px;
}
}

.after_course {
	background: url(../img/before_bg.png)no-repeat center center;
}

.contacts {
	background: #1aaaec;
}

footer {
	background: #434343;
	color: #fff;
	height: 105px;

	.container {
		display: flex;
		height: 100%;
	}

	p {
		align-self: center;
	}

}